html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
  }
  
  .card a:not([href]):not([tabindex]).scrape-new {
    color: #2196F3;
  }
  
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: white;
    font-family: "Cormorant SC";
    background: linear-gradient(#333, black);
    opacity: 0.7;
  }
  
  
  .jumbotron {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 0;
    font-family: "Cormorant SC";
    box-shadow: 10px 5px 20px 2px lightslategrey;
  }
  
  .jumbotron .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
    background: linear-gradient(#333, black);
    opacity: 0.7;
  }
  
  .jumbotron .background-image {
    height: 100%;
    
    
  }
  
  .jumbotron .caption {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
  }
  
  .jumbotron .caption h1,
  .jumbotron .caption p {
    color: white;
  }
  
  .jumbotron h1 {
    font-size: 80px;
    font-weight: 800;
  }
  
  .jumbotron p {
    font-size: 30px;
  }
  
  .article-container {
    padding-bottom: 25px;
    padding-right: 35px;
    background-color: #333;
  }
  .btn-div{
    padding-bottom: 10px;
  }
  .card {
    border-radius: 0;
    box-shadow: 3px 3px 20px rgb(248, 248, 248);
    margin: 20px 0;
  }
  
  .card .card-header {
    
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
  }
  /* navbar-toggler-icon
  .card .card-header h3 {
    color: white;
    
  } */
  
.card .card-header .btn {
    position: absolute;
    top: 20px;
    right: 20px;
  } 
  
  .card .card-header .btn.delete {
    right: 160px;
  }
  
  .card .card-body {
    font-size: 20px;
  }
  
  .card .card-header .article-link {
    color: white;
    display: inline-block;
    width: 80%;
  } 
  
  .footer > .container > p {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 0;
    font-weight: 800;
    /* background: #0c7cd5; */
  }
  .navbar {
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./images/poeBanner.png");
    list-style-type: none;
    min-height: 0px;
    margin: 0;
    padding: 0;
   
    color: #ffffff;
    width: 100%;
    height: 80px;
    overflow: hidden;
    margin-bottom: 0;
}
  .li-btn {
    border: 1px solid #000000;
    padding: 10px;
    margin-left: 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    
}

.navbar-nav > li > a.scrape-btn,
.navbar-nav > li > a.clear-btn {
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 800;
  color: white;
}
  .navbar-nav > li > a.scrape-btn:hover,
  .navbar-nav > li > a.clear-btn:hover {
    background: #4caf50;
  }
  
  .navbar-nav > li > a.scrape-btn:active {
    background: #039116;
  }
  .navbar-brand{
    color: white;
  }
  .li-nav {
    display: inline;
    line-height: 80px;
    padding-left: 20px;
}
  .scrape-btn {
  cursor: pointer;
  text-align: center;
  max-height: 50px;
  }
  .clear-btn {
  cursor: pointer;
  text-align: center;
  right: 20px;

  }
  .save-btn{
  cursor: pointer;
  text-align: center;
  right: 20px;
  }

  .m-top-80 {
    margin-top: 80px;
  }
  
  textarea {
    padding: 10px;
    resize: none;
    width: 100%;
  }
  
  .note.list-group-item .btn {
    position: relative;
    bottom: 10px;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
}

.modal-content {
    background-color: #fffffff5;
    margin: 15% auto;
    width: 40%;
    height: 200px;
    color: black;
}

.close {
    color: #fc0505;
    font-size: 40px;
    font-weight: bold;
    float: right;
    padding: 10px;
}

#modal-text {
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    
}

form {
    text-align: center;
}

input {
  height: 50px;
  margin-top: 50px;
  width: 80%;
  text-align: left;
  
}


.a-title {
  color:red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.saneExile{
  padding-top: 1px;
  text-align: center;
}

